* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', 'cursive';
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin: auto; */

    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .header {
    padding: 5px;
    text-align: center;
    
} */


.Mynavigation {
    display: flex;
    justify-content: flex-end;
}

.Mynavigation a {
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
    text-align: center;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}



/* About Me */
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* background-color: brown; */
    padding: 20px;
    margin-top: 20px;
}

p.about {
    font-size: 20px;
}

/* Portfolio */
.portfolio {
    display: flex;
    margin: 10px;
    flex-flow: row wrap;
    justify-content: space-around;
    /* background-color: darkgreen; */
}

.portfolioContent {
    flex: 1;
}

p.portfolioContent {
    font-size: 15px;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
}

.contacts a {
    color: white;
}

.fab,
.far {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}