* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', 'cursive';
    color: white;
    margin: auto;

    background: #ff00cc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #333399, #ff00cc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #333399, #ff00cc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
}


.Mynavigation {
    display: flex;
    justify-content: flex-end;    
}

.Mynavigation a {
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
    text-align: center;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}

/* Container for Column */
.content {
    display: flex;
    flex-wrap: wrap;
}

/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    color: #f2f2f2;
    font-size: 20px;
}

.flex-container a {
    color: white;
    font-size: 15px;
} */

/* About me column */
.about {
    flex: 30%;
    background-color: brown;
    padding: 20px;
    
}

/* main column */
.portfolio {
    flex: 70%;
    padding: 20px;
}