* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', 'cursive';
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin: auto; */

    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Mynavigation {
    display: flex;
    justify-content: flex-end;
}

.Mynavigation a {
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
    text-align: center;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}



/* About Me */
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* background-color: brown; */
    padding: 20px;
    margin-top: 5px;
}

p.about {
    font-size: 20px;
}

/* Portfolio */
.portfolio {
    display: flex;
    margin: 10px 10px 100px 10px;
        flex-flow: row wrap;
    justify-content: space-around;
    /* background-color: darkgreen; */
}

.portfolioContent {
    flex: 1;
}

p.portfolioContent {
    font-size: 15px;
}

.links a {
    text-decoration: none;
    color: white;
    /* margin: 0px 15px 0px 15px; */
}

.contacts a {
    color: white;
}

.fab,
.far {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fas {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: white;
}

.my-works{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.footer {
    position: bottom;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: black;
}

.footer a {
    color: white;
}